body {
  background: rgb(15, 15, 15);
  margin: 0;
  height: 100vh;
  display: flex;
  color: white;
}

.navbar-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  max-height: 100px;
}

.navbar-desktop-items {
  margin: 0 50px 0 50px;
  font-size: 22px;
  font-family: 'IBMPlexSans-Text';
}

.navbar-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  margin-top: 10px;
}

.navbar-mobile-items {
  margin: 0 25px 0 25px;
  font-size: 20px;
  font-family: 'IBMPlexSans-Text';
}

.navlink {
  color: #dcdcdc;
  text-decoration: none;
  transition: 0.2s;
}

.navlink:hover {
  color: rgb(100, 100, 100);
}

.navlink:active {
  color: rgb(50, 50, 50);
  transition: 0.2s ease;
}

.active {
  text-decoration: underline white;
  text-underline-offset: 4px; /* Adjust the value as needed */
}

.animated-underline {
  position: relative;
  text-decoration: none;
}

.animated-underline:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white; /* Set the underline color */
  transition: width 0.1s ease;
  left: 50%;
  bottom: 0; /* Set to bottom instead of top */
  transform: translateX(-50%);
}

.animated-underline:hover:after {
  width: 100%;
}


.small-title {
  font-size: 80px;
}

.title-desktop {
  position: absolute;
  width: 90%;
  max-width: 1000px;
  top: 400px;
  left: 50%;
  -webkit-transform: translate(-50%, calc(-50% + 30px));
  transform: translate(-50%, calc(-50% + 30px));
  align-items: center;
  justify-content: center;
  padding: 35px;
}

.title-mobile {
  position: absolute;
  top: 500px;
  left: 50%;
  width: 98%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}

.title-home {
  position: fixed;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  padding: 35px;
}

.padding {
  padding: 35px;
}

.centered {
  text-align: center;
}

.blur-container {
  backdrop-filter: blur(15px) saturate(100%);
  -webkit-backdrop-filter: blur(15px) saturate(100%);
  background-color: rgba(136, 136, 136, 0.15);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 10px;
  justify-content: center;
}

.title-padding-desktop {
  padding: 25px;
}

.title-padding-mobile {
  padding: 6px;
}

h1 {
  font-family: 'IBMPlexMono-Thin';
  font-size: 60px;
  margin: 0;
}

h2 {
  font-family: 'IBMPlexMono-Thin';
  font-size: 50px;
}

h3 {
  font-family: 'IBMPlexMono-Thin';
  font-size: 30px;
}

p {
  font-family: 'IBMPlexMono-Regular';
  font-size: 15px;
}

.small-margin {
 margin: 10px 0 10px 0;
}

.profile-pic {
  display: block;
  max-width:300px;
  max-height:300px;
  width: auto;
  height: auto;
  border-radius: 10px;
}

.heading-with-pic-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px
}