@font-face {
  font-family: 'Futura PT Book';
  font-style: normal;
  font-weight: normal;
  src: local('Futura PT Book'), url('fonts/FuturaCyrillicBook.woff') format('woff');
}
  

@font-face {
  font-family: 'Futura PT Light';
  font-style: normal;
  font-weight: normal;
  src: local('Futura PT Light'), url('fonts/FuturaCyrillicLight.woff') format('woff');
}
  

@font-face {
  font-family: 'Futura PT Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Futura PT Medium'), url('fonts/FuturaCyrillicMedium.woff') format('woff');
}
  

@font-face {
  font-family: 'Futura PT Demi';
  font-style: normal;
  font-weight: normal;
  src: local('Futura PT Demi'), url('fonts/FuturaCyrillicDemi.woff') format('woff');
}
  

@font-face {
  font-family: 'Futura PT Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Futura PT Heavy'), url('fonts/FuturaCyrillicHeavy.woff') format('woff');
}
  

@font-face {
  font-family: 'Futura PT Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Futura PT Bold'), url('fonts/FuturaCyrillicBold.woff') format('woff');
}
  

@font-face {
  font-family: 'Futura PT Extra Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Futura PT Extra Bold'), url('fonts/FuturaCyrillicExtraBold.woff') format('woff');
}

body {
  background: rgb(25, 25, 25);
  margin: 0;
  height: 100vh;
  display: flex;
}

.navbar-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  max-height: 100px;
}

.navbar-desktop-items {
  margin: 0 50px 0 50px;
  font-size: 22px;
  font-family: 'Futura PT Demi';
}

.navbar-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  margin-top: 10px;
}

.navbar-mobile-items {
  margin: 0 25px 0 25px;
  font-size: 20px;
  font-family: 'Futura PT Demi';
}

.link {
  color: #dcdcdc;
  text-decoration: none;
  padding: 10px;
  transition: 0.2s;
  border-radius: 4px;
}

.link:hover {
  font-size: 25px;
  color: rgb(100, 100, 100);
}

.link:active {
  color: rgb(50, 50, 50);
}

.active {
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(125, 125, 125);
}

.small-title {
  font-size: 80px;
}

.centered-title {
  position: fixed;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
}

.title-padding-desktop {
  padding: 25px;
}

.title-padding-mobile {
  padding: 6px;
}

h1 {
  font-family: 'Futura PT Medium';
  font-size: 200px;
  color: #fdbee3;
  margin: 0;
}

h2 {
  font-family: 'Futura PT Medium';
  font-size: 45px;
  color: #97eaf4;
}

h3 {
  font-family: 'Futura PT Medium';
  font-size: 30px;
  color: #97eaf4;
}

.glow-purple {
  text-shadow:
    0 0 7px #fdbee3,
    0 0 10px #fdbee3,
    0 0 42px #c60877,
    0 0 82px #c60877,
    0 0 102px #c60877;
}

.glow-blue {
  text-shadow:
  0 0 7px #0ad8f0,
  0 0 10px #0ad8f0,
  0 0 42px #0ad8f0;
}

.small-margin {
 margin: 10px 0 10px 0;
}