@font-face {
    font-family: 'MateriaProLight';
    src: url('fonts/MateriaProLight.woff');
    font-weight: light;
    font-style: normal;
    }

@font-face {
    font-family: 'MateriaProRegular';
    src: url('fonts/MateriaProRegular.woff');
    font-weight: normal;
    font-style: normal;
    }   


body {
    background-color: rgb(20, 16, 07);
    margin: 0;
}

h1 {
    color: rgb(217, 83, 52);
    font-size: 120px;
    font-family: 'MateriaProRegular';
    text-align: center;
}

h2 {
    font-size: 70px;
    font-family: 'MateriaProLight';
    text-align: center;
    color: rgb(165, 82, 64);
}

h3 {
    font-size: 40px;
    font-family: 'MateriaProLight';
    text-align: right   ; 
    color: rgb(85, 45, 39); 
}

}
p {
    font-size: 16px;
    font-family: 'MateriaProLight';
    text-align: left;
    color: rgb(165, 82, 64);
}



a {
    font-size: 40px;
    font-family: 'MateriaProRegular';
    text-align: center;  
    color: rgb(85, 45, 39);
    text-decoration: none;
}

a:hover {
    color: rgb(171, 92, 78);
}

a:active {
    color: white;
  }

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    text-align: center;
    margin: 40px;
}

#top, #bottom, #left, #right {
	background: rgb(217, 83, 52);
    box-shadow:  0 0 7px rgb(217, 83, 52),
    0 0 10px rgb(217, 83, 52),
    0 0 21px rgb(217, 83, 52),
    0 0 42px rgb(85, 45, 39),
    0 0 82px rgb(85, 45, 39),
    0 0 92px rgb(85, 45, 39),
    0 0 102px rgb(85, 45, 39),
    0 0 151px rgb(85, 45, 39);;
	position: fixed;
	}

#left, #right {
    top: 0; bottom: 0;
    width: 10px;
    }
    #left { left: 0; }
    #right { right: 0; }
    
#top, #bottom {
    left: 0; right: 0;
    height: 10px;
}

#top {
    top: 0; 
}

#bottom { 
    bottom: 0; 
}

.img-container-block {
    text-align: center;
}

img {
    border: 5px solid rgb(85, 45, 39);
  }

form {
    color:rgb(217, 83, 52);
}

#back {
    position: absolute;
    left:    35px;
    bottom:   30px;
}

.navbar {
    position:absolute;
    width:100%;
    bottom:0;
    right: 35px;
}